/*---------------------------------------------------------------------------


Main SASS File
By: Kevin Mercier // Davey Montooth // Some Good Design
Version: 1.0.0
Resources: 
	Bourbon.io - 4.0.1
	http://bourbon.io/docs/
	Sass - 3.3.7
	http://sass-lang.com/
Description: Constructor


---------------------------------------------------------------------------*/


/* import mixins mixins */
@import 'bourbon/bourbon';

/* prepares bootstrap */
@import 'config';

/* build modules */
@import 'modules/config';
@import 'modules/navigation';
@import 'modules/icons';

/* executes theme */ 
@import 'helpers/normalize';
@import 'helpers/helpers';
@import 'helpers/type';
@import 'theme';
@import 'helpers/queries'; 