/*---------------------------------------------------------------------------


Theme SASS File
By: Kevin Mercier
Version: 1.0.0
Parent: Main.scss


---------------------------------------------------------------------------*/

/* TO DO:
1. PAGE LOCATION STICKY NAV
2. Image BG 


*/

/* --------------------------------------
Global Media Query
---------------------------------------*/

@mixin global{ 

	*{ margin: 0px; padding: 0px; }
 
	/* reset */
	a{ text-decoration: none; color: $link-color; }
	a:hover{ text-decoration: none !important; }
	small{ text-transform: uppercase; font-family: $fixed-font-family; font-weight: bold; letter-spacing: 0.15em; font-size: 0.7em; color: $link-color; }
	h3{ font-family: $heading-font-family; }

	/* others */
	.content-wrap{ position: relative; }

	/* load graphic */
	.overlay{ height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999999; }
	#load-overlay{ background: #444;  @include transition ( opacity 1.0s ease-in, height 0s ease-out 1.0s ); }
	.loaded #load-overlay{ height: 0; opacity: 0; }
	#menu-overlay{ background: rgba(0,0,0,0.5); height: 0; z-index: 5; opacity: 0; @include transition ( opacity 0.25s ease-in, height 0s ease-out 0.25s ); }
	#menu-overlay.active{ height: 100%; z-index: 5; opacity: 1; @include transition ( opacity 0.25s ease-in, height 0s ease-in 0s ); }

	/* helpers */
	.container{ max-width: $page-max-width; margin: 0 auto; padding: 0 $grid; }
	.vcenter{ display: table; width: 100%;
		.vcenter-cell{ display: table-cell; text-align: center; vertical-align: middle; }
	}
	button{ @include transition( all 0.25s ease-in-out ); border-radius: 9px; border-bottom: 4px solid darken($link-color, 10%); background: $link-color; font-family: $fixed-font-family; text-transform: uppercase; color: #ddd; font-size: 0.8em; padding: $grid/2 $grid; }
	button:hover{ background: darken($link-color, 10%); border-bottom: 4px solid darken($link-color, 20%); }

	/* main-contact */

	#contact{ @include transform(rotateY(90deg)); @include transition( all 0.50s ease-in-out ); text-align: center; position: fixed; min-height: 100%; width: 100%; border-left: 6px solid $link-color; right: -100%; top: 0; z-index: 15; background: #2e2e2e; 
		.container{ padding: $grid*6; }
		b{ color: #fff; font-size: 3.25em; font-family: $heading-font-family; }
		h1{ opacity: 0; @include transition( all 0.25s ease-in-out 0.15s ); color: #ddd; font-size: 4em; font-weight: 400; line-height: 1.1em; }
		form{ opacity: 0; @include transition( all 0.25s ease-in-out 0.25s );padding: $grid*1.5 0; margin-top: $grid*1.5; border-top: 1px dotted #555; border-bottom: 1px dotted #555; font-size: 2em;
			.row{ overflow: hidden; }
			.col{ padding: $grid/2; }
			input,
			textarea{  @include transition( all 0.25s ease-in-out ); color: #999; font-size: 0.5em; text-transform: uppercase; font-family: $fixed-font-family; font-weight: 100; background: #ccc; display: block; width: 100%; padding: $grid/2; 
				&:focus{ color: #333; background: #fff; }
			}
			textarea{ height: $grid*5; }
			button{ margin: $grid auto 0; padding: $grid/2 $grid*2;  }
		}
		&.active{ right: 0; @include transform(rotateY(0deg)); 
			h1,
			form{ opacity: 1; }
		}
	}


	/* main-nav */
	#toggle-nav{ position: fixed; z-index: 20; background: #0e0e0e; 

		a{ position: relative; color: #fff; text-align: center; display: block; overflow: hidden;
			&#menu-toggle{
				.bar{ @include transition( all 0.25s ease-in-out ); width: 24px; height: 4px; border-radius: 90px; background: #fff; margin: 3px auto; }
				.bar1{ margin-top: 28px; @include breakpoint(lt-md){ margin-top: 15px; } }
			}
			&#contact-toggle{ @include transition( all 0.25s ease-in-out ); position: relative;
				.phone{ @include transition( all 0.25s ease-in-out ); font-size: 24px; position: absolute; top: 20px; left: 26px; }
				.smile{ @include transition( all 0.25s ease-in-out ); position: absolute; font-size: 30px; right: -50px; top: 20px; }
				&.active{ background: #000; }
			}
		}
	}

	nav#main-menu{ @include transition( all 0.35s ease-in-out ); position: fixed; top: 0; background: #2e2e2e; height: 100%; z-index: 10;
		> a{ font-family: $fixed-font-family; letter-spacing: 0.04em; overflow: hidden; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #fff; height: $grid*3; display: block; text-align: right; line-height: $grid*3; position: relative;
			&:nth-child(1){ @include transition-duration(0.25s); }
			&:nth-child(2){ @include transition-duration(0.35s); }
			&:nth-child(3){ @include transition-duration(0.45s); }
			&:nth-child(4){ @include transition-duration(0.55s); }
			&:nth-child(5){ @include transition-duration(0.65s); }
			.title{ float: left; padding: 0 $grid*2; height: $grid*3; @include transition( line-height 0.15s ease-in-out ); }
			.icon{ color: #ddd; background: rgba(0,0,0,0.1); text-align: center; float: left; width: $grid*3; height: $grid*3; font-size: 32px; 
				&:before{ display: block; margin-top: 20px; font-weight: normal; @include transition( margin-top 0.15s ease-in-out ); }
			}
			&.current{ 
				.title{ border-left: 6px solid $link-color; }
			}
		}

		#menu-social{ border-top: 1px solid rgba(255,255,255,0.05); border-bottom: 1px solid rgba(255,255,255,0.05); overflow: hidden; opacity: 0; @include transition( all 0.25s ease-in-out 0.30s );
			a{ float: left; height: $grid*3; text-align: center; color: #999; opacity: 0; font-size: 34px; display: block; line-height: $grid*3 +8px;
				&:nth-child(1){ @include transition( opacity 0.25s ease-in-out 0.55s); }
				&:nth-child(2){ @include transition( opacity 0.25s ease-in-out 0.50s); }
				&:nth-child(3){ @include transition( opacity 0.25s ease-in-out 0.45s); }
				&:nth-child(4){ @include transition( opacity 0.25s ease-in-out 0.40s); }
				&:before{ @include transition( opacity 0.15s ease-in-out); }
			}
		}

		#menu-contact{ border-top: 1px solid rgba(255,255,255,0.05); padding: $grid $grid + 6px; color: #bbb; font-weight: 100; @include transition( all 0.25s ease-in-out 0.30s ); opacity: 0; }
		
		&.active{
			> a{ right: 0;
				&:hover{ background-color: rgba(0,0,0,0.4) !important; 
					.title{ line-height: $grid*3 - 4px; background-color: rgba(0,0,0,0.4);  }
					.icon{ 
						&:before{ margin-top: 16px; }
					}
				}
			}
			#menu-social{ opacity: 1;
				a{ opacity: 1; 
					&:hover{ background: rgba(0,0,0,0.2);
						&:before{ color: $link-color; margin-top: -6px; }
					}
				}
			}
			#menu-contact{ opacity: 1; }
		}
	}

	/* top-nav */
	nav#top-menu{ font-size: 18px; font-weight: 500; overflow: hidden; position: fixed; top: 0; width: 100%; background: rgba(0,0,0,0.1); height: $grid*3; font-family: $heading-font-family; 
		a{ color: #eee; font-family: $fixed-font-family; text-transform: uppercase; }
	}




	/* intro */
	section#intro{ position: relative; overflow: hidden; padding: 0px; background: #efefef; height: 100vh; background: url('../img/intro-bg.jpg') fixed center center no-repeat; background-size: cover; 
		.haze{ position: absolute; height: 100vh; background: rgba(166,28,33,0.8); min-height: 100%; position: absolute; top: 0; bottom: 0; }
		.container{ position: relative; 
			h1{ font-family: "blambot-fx-pro",sans-serif; margin-top: 0px !important; color: #fff; font-weight: 400; font-size: 90px; margin-bottom: 0px; }
			p.meta{ color: #eee; margin-top: 0px; font-weight: 100; }
			a#move-along{ padding-top: 5px; @include animation( wiggle 1.0s 0s infinite ease-in-out ); display: block; font-size: 28px; float: left; background: url('../img/move-along.png') 0 0 no-repeat; background-size: 150px 50px; width: 150px; height: 50px; position: absolute; bottom: 0; left: 40px; text-align: center; }
		}
	}


	/* section-two */

	section#section-two{ padding: $grid*6 0; background: url('../img/randompattern.jpg') center center repeat; 
		.circle{ margin: 0 auto; width: $grid*20; height: $grid*20; border-radius: $grid*10; background: rgba(0,0,0,0.5); }
	}

	/* GRID TO MOVE OUT LATER */

	.row{ overflow: hidden; 
		.col{ float: left; }
		.col *:first-child{ margin-top: 0px; } /* experimental */
		&.cols-1 .col{ width: 100%    ; width:      100%   ; }
		&.cols-2 .col{ width: 100% / 2; width: calc(100%/2); }
		&.cols-3 .col{ width: 100% / 3; width: calc(100%/3); }
		&.cols-4 .col{ width: 100% / 4; width: calc(100%/4); }
		&.cols-5 .col{ width: 100% / 5; width: calc(100%/5); }
		&.cols-6 .col{ width: 100% / 6; width: calc(100%/6); }
		&.cols-7 .col{ width: 100% / 7; width: calc(100%/7); }
	}

	/* grid but not grid */


	section{ padding: $grid*3 0px; }
	section .row .col{ padding: $grid; }

	/* animation stuff */


	@include keyframes(wiggle) {
	  0%, 100%{
	    padding-top: 5px;
	  }
	  50% {
	    padding-top: 10px;
	  }
	}

	


}

/* --------------------------------------
Large Media Query
---------------------------------------*/

@mixin lg{


}


/* --------------------------------------
Medium Media Query
---------------------------------------*/

@mixin md{

}


/* --------------------------------------
Small Media Query
---------------------------------------*/

@mixin sm{
	
}


/* --------------------------------------
Extra Small Media Query
---------------------------------------*/

@mixin xs{	

}


/* --------------------------------------
Media Query Ranges
---------------------------------------*/

/* --------------------------------------
Greater Than Extra Small Media Query
---------------------------------------*/

@mixin gt-xs{

}


/* --------------------------------------
Greater Than Small Media Query
---------------------------------------*/

@mixin gt-sm{

}


/* --------------------------------------
Greater Than Medium Media Query
---------------------------------------*/

@mixin gt-md{

	/* Fix menu to the right */
	.content-wrap{ padding-right: $grid*3; }
	#toggle-nav{ height: 100%; width: $grid*3; right: 0; top: 0; 
		a{ position: relative; color: #fff; width: $grid*3; height: $grid*3; 
			&#menu-toggle{
				&.active{ background: #000;
					.bar{ margin-bottom: 0px; }
					.bar1{ @include transform(rotate(45deg)); margin-top: 32px; }
					.bar2{ @include transform(rotate(-45deg)); margin-top:-4px; }
					.bar3{ margin-top: 10px; }
				}
			}
		}
	}

	nav#main-menu{ right: -$grid*12; width: $grid*12;
		> a{ @include transition-property(right); right: -$grid*9;
			&:nth-child(1){ 
				.icon{ @include transition( margin-left 0.45s ease-in-out ); }
			}
			&:nth-child(2){
				.icon{ @include transition( margin-left 0.55s ease-in-out ); }
			}
			&:nth-child(3){ 
				.icon{ @include transition( margin-left 0.65s ease-in-out ); }
			}
			&:nth-child(4){ 
				.icon{ @include transition( margin-left 0.75s ease-in-out ); }
			}
			&:nth-child(5){ 
				.icon{ @include transition( margin-left 0.85s ease-in-out ); }
			}
			.title{ width: $grid*9;}
			.icon{ margin-left: -60px; }



		}
		#menu-social a{ width: $grid*3; }

		&.active{ right: $grid*3;
			> a {
				.icon{ margin-left: 0px; }
				&:nth-child(odd){ background-color: rgba(0,0,0,0.2); }
				&:nth-child(even){ background-color: rgba(0,0,0,0.1); }
			}
		}


	}

	#page-progress{ position: absolute; top: 50%; margin-top: -35px; left: 50%; margin-left: -5px;
		.dot{ display: block; width: 10px; height: 10px; border-radius: 10px; background: rgba(255,255,255,0.2); margin-top: 10px; }
		.dot.active{ background: $link-color; }
		.dot:first-child{ margin-top: 0px; }
	}

}


/* --------------------------------------
Greater Than Large Media Query
---------------------------------------*/

@mixin gt-lg{

}

/* --------------------------------------
Less Than Medium Media Query
---------------------------------------*/

@mixin lt-md{

	.content-wrap{ padding-top: $grid*2; }

	#toggle-nav{ height: $grid*2; width: 100%;
		a{ width: $grid*2; height: $grid*2; 
			&#menu-toggle{ position: absolute; right: 0;
				&.active{ background: #000;
					.bar{ margin-bottom: 0px; }
					.bar1{ @include transform(rotate(45deg)); margin-top: 20px; }
					.bar2{ @include transform(rotate(-45deg)); margin-top:-4px; }
					.bar3{ margin-top: 10px; }
				}
			}
		}
	}

	nav#main-menu{ width: 100%; height: auto; top: $grid*2; overflow: hidden;
		> a{ overflow: hidden; margin-top: -$grid*4; width: 50%; float: left; 
			&:nth-child(1){ @include transition( margin-top 0.25s ease-in-out ); }
			&:nth-child(2){ @include transition( margin-top 0.25s ease-in-out ); }
			&:nth-child(3){ @include transition( margin-top 0.35s ease-in-out ); }
			&:nth-child(4){ @include transition( margin-top 0.35s ease-in-out ); }
			&:nth-child(5){ @include transition( margin-top 0.45s ease-in-out ); }
			.title{ width: 100%; padding-left: $grid*5; text-align: left; }
			.icon{ position: absolute; left: 0; }
		}
		
		#menu-contact{ display: none; }
		#menu-social{ float: left; width: 100%; margin-top: -$grid*4; @include transition( margin-top 0.45s ease-in-out ); 
			a{ width: 25%; 
				&:nth-child(4){ @include transition( opacity 0.25s ease-in-out 0.55s); }
				&:nth-child(3){ @include transition( opacity 0.25s ease-in-out 0.50s); }
				&:nth-child(2){ @include transition( opacity 0.25s ease-in-out 0.45s); }
				&:nth-child(1){ @include transition( opacity 0.25s ease-in-out 0.40s); }
			}
		}
		&.active{ max-height: 100%; 
			> a{ margin-top: 0px; }
			#menu-social{ margin-top: 0px; }
		}
	}

	#page-progress{ display: none; }

	/* temp */

	#contact-toggle{ display: none !important; }

}


/* --------------------------------------
Less Than Small Media Query
---------------------------------------*/

@mixin lt-sm{

	nav#main-menu{ 
		> a{  width: 100% !important; float: none; 
			&:nth-child(1){ @include transition( margin-top 0.25s ease-in-out ); }
			&:nth-child(2){ @include transition( margin-top 0.30s ease-in-out ); }
			&:nth-child(3){ @include transition( margin-top 0.35s ease-in-out ); }
			&:nth-child(4){ @include transition( margin-top 0.40s ease-in-out ); }
		}
		#menu-social{ float: none; width: 100%; margin-top: -$grid*4; @include transition( margin-top 0.45s ease-in-out ); 
			a{ width: 25%; 
				&:nth-child(4){ @include transition( opacity 0.25s ease-in-out 0.55s); }
				&:nth-child(3){ @include transition( opacity 0.25s ease-in-out 0.50s); }
				&:nth-child(2){ @include transition( opacity 0.25s ease-in-out 0.45s); }
				&:nth-child(1){ @include transition( opacity 0.25s ease-in-out 0.40s); }
			}
		}
		&.active{
			> a{ margin-top: 0px; 
				&:nth-child(odd){ background-color: rgba(0,0,0,0.2); }
				&:nth-child(even){ background-color: rgba(0,0,0,0.1); }
			}
		}
	}

}



/* --------------------------------------
Less Than Large Media Query
---------------------------------------*/

@mixin lt-lg{

}


/* --------------------------------------
Print Media Query
---------------------------------------*/

@mixin print{
	
}

