/*---------------------------------------------------------------------------


Helpers
By: Kevin Mercier
Version: 1.0.0
Links: Main.scss


---------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------
1. Clearfix
---------------------------------------------------------------------------*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


/*---------------------------------------------------------------------------
2. Responsive Video
---------------------------------------------------------------------------*/

.fluid-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.fluid-video iframe,
.fluid-video object,
.fluid-video embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*---------------------------------------------------------------------------
3. Screen Reader
---------------------------------------------------------------------------*/

.visuallyhidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*---------------------------------------------------------------------------
4. Responsive Images
---------------------------------------------------------------------------*/

img{ max-width: 100%; }

/*---------------------------------------------------------------------------
4. Box Sizing
---------------------------------------------------------------------------*/

*{ @include box-sizing(border-box); }





